---
BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 79
IndentCaseLabels: true
AlignAfterOpenBracket: DontAlign
ContinuationIndentWidth: 8
PointerAlignment: Left
AllowAllArgumentsOnNextLine: true
AlignTrailingComments: true
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
---
Language: Java
ColumnLimit: 100
---
