@import url("/home/luka/.config/wofi/colors.css");

window {
  margin: 0px;
  border: 1px solid @outer-border;
  background-color: @background;
  border-radius: 12px;
}

#input {
  margin: 5px;
  border: none;
  color: @foreground;
  background-color: @background-selected;
}

#input:focus {
  box-shadow: none;
  border: 1px solid @input-selected-border;
}

#inner-box {
  margin: 5px;
  border: none;
  background-color: @background;
}

#outer-box {
  margin: 5px;
  border: none;
  background-color: @background;
}

#scroll {
  margin: 0px;
  border: none;
}

#text {
  margin: 5px;
  border: none;
  color: @foreground;
}

#entry:selected {
  background-color: @background-selected;
  border-radius: 6px;
  border: none;
  outline: none;
}
