[user]
	email = lukablueowl51@gmail.com
	name = lukamanitta
[credential]
	helper = store
	credentialStore = cache
[core]
    excludesfile = /home/luka/.gitignore_global
[alias]
    status-all = "!clustergit"
