/**
 * ════════════════════════════════════════════════════════
 *   Symphony by https://github.com/vyrx-dev
 *   Theme: Zen
 * ════════════════════════════════════════════════════════
 */

@define-color waybar_accent rgba(160, 160, 160, 0.25);
@define-color waybar_accent_fg @on_background;
@define-color on_background #cccccc;
@define-color surface_container #0c0c0c;
@define-color error #959595;
